body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.portfolio-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.portfolio-item {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.featured-item {
    text-align: center;
}

.featured-item span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.social-links a img{
    height: 30px;
}
.social-links  .social-icon a {
    /* text-decoration: none; */
}

